<h1>Editing book</h1>
<br/>
<%= render "form", list: @list %>

<br>

<div>
  <%= link_to "Show", @list, class:"btn btn-secondary" %> |
  <%= link_to "Back", lists_path, class:"btn btn-dark" %>
</div>
