  <table class="table table-striped table-bordered table-hover">
    <thead class="thead-dark">
      <tr>
        <th>Title</th>
        <th>Author</th>
        <th>Year</th>
        <th>Genre</th>
        <th> </th>
      </tr>
    </thead>

    <tbody>
      <% @lists.each do |list| %>
        <tr>
          <td>
            <%= link_to list.title, list %>


          </td>
          
          <td><%= list.author %></td>
          <td><%= list.year %></td>
          <td><%= list.genre %></td>
          
          
          
        </tr>
        <% end %>
    </tbody>
  </table>