<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <img src="https://cdn-icons-png.flaticon.com/512/327/327116.png" alt="A book illustration" width="30" height="24" class="align-text-top">

    <li class="nav-item">
      <%= link_to 'Book App', root_path, class:"navbar-brand" %>
    </li>
  
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      
      <li class="nav-item">
        <%= link_to "Books", lists_path, class:"nav-link" %>
      </li>

      <li class="nav-item">
        <%= link_to "Add Book", new_list_path, class:"nav-link" %>
      </li>

      <li class="nav-item">
        <%= link_to "About", home_about_path, class:"nav-link" %>
      </li>
      <form class="d-flex">
        <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
        <button class="btn btn-outline-success" type="submit">Search</button>
      </form>
    </div>
  </div>
</nav>