<h1>About the project</h1>

<p>An application to register and display books read.</p>

<p> <strong>Technologies</strong>:
  <ul class="list-group">
	  <li class="list-group-item">Ruby 3.0</li>
	  <li class="list-group-item">Rails 7.0</li>
	  <li class="list-group-item">HTML</li>
	  <li class="list-group-item">CSS</li>
	  <li class="list-group-item">Bootstrap</li>
	  <li class="list-group-item">
	  	SQLite 3.0
	  </li>
</ul>

</p>